.DS_Store
__pycache__/
*.pyc
hw1/outputs/*
!hw1/outputs/runs/
hw1/outputs/runs/*
!hw1/outputs/runs/final_a/
hw1/outputs/runs/final_a/*
!hw1/outputs/runs/final_a/confusion_matrix.json
!hw1/outputs/runs/final_a/confusion_matrix.png
!hw1/outputs/runs/final_a/first_layer_weights.png
!hw1/outputs/runs/final_a/history.json
!hw1/outputs/runs/final_a/misclassified_examples.png
!hw1/outputs/runs/final_a/summary.json
!hw1/outputs/runs/final_a/training_curves.png
!hw1/outputs/runs/final_p/
hw1/outputs/runs/final_p/*
!hw1/outputs/runs/final_p/confusion_matrix.json
!hw1/outputs/runs/final_p/confusion_matrix.png
!hw1/outputs/runs/final_p/first_layer_weights.png
!hw1/outputs/runs/final_p/history.json
!hw1/outputs/runs/final_p/misclassified_examples.png
!hw1/outputs/runs/final_p/summary.json
!hw1/outputs/runs/final_p/training_curves.png

hw1/release/

!hw1/outputs/runs/final_k/
hw1/outputs/runs/final_k/*
!hw1/outputs/runs/final_k/confusion_matrix.json
!hw1/outputs/runs/final_k/confusion_matrix.png
!hw1/outputs/runs/final_k/first_layer_weights.png
!hw1/outputs/runs/final_k/history.json
!hw1/outputs/runs/final_k/misclassified_examples.png
!hw1/outputs/runs/final_k/summary.json
!hw1/outputs/runs/final_k/training_curves.png
!hw1/outputs/runs/final_l/
hw1/outputs/runs/final_l/*
!hw1/outputs/runs/final_l/confusion_matrix.json
!hw1/outputs/runs/final_l/confusion_matrix.png
!hw1/outputs/runs/final_l/first_layer_weights.png
!hw1/outputs/runs/final_l/history.json
!hw1/outputs/runs/final_l/misclassified_examples.png
!hw1/outputs/runs/final_l/summary.json
!hw1/outputs/runs/final_l/training_curves.png
!hw1/outputs/runs/final_n/
hw1/outputs/runs/final_n/*
!hw1/outputs/runs/final_n/confusion_matrix.json
!hw1/outputs/runs/final_n/confusion_matrix.png
!hw1/outputs/runs/final_n/first_layer_weights.png
!hw1/outputs/runs/final_n/history.json
!hw1/outputs/runs/final_n/misclassified_examples.png
!hw1/outputs/runs/final_n/summary.json
!hw1/outputs/runs/final_n/training_curves.png
!hw1/outputs/runs/final_o/
hw1/outputs/runs/final_o/*
!hw1/outputs/runs/final_o/confusion_matrix.json
!hw1/outputs/runs/final_o/confusion_matrix.png
!hw1/outputs/runs/final_o/first_layer_weights.png
!hw1/outputs/runs/final_o/history.json
!hw1/outputs/runs/final_o/misclassified_examples.png
!hw1/outputs/runs/final_o/summary.json
!hw1/outputs/runs/final_o/training_curves.png
!hw1/outputs/search/
hw1/outputs/search/*
!hw1/outputs/search/20260409_100323/
hw1/outputs/search/20260409_100323/*
!hw1/outputs/search/20260409_100323/search_config.json
!hw1/outputs/search/20260409_100536/
hw1/outputs/search/20260409_100536/*
!hw1/outputs/search/20260409_100536/search_config.json
